.container{
	position: relative;
	width: 100%;
	height: 1000px;
	background: linear-gradient(to bottom, #A60000, white,#726f70);
	padding: 1%
	}
.header{
	width: 96%;
	height: 10%;
	border: 2px solid black;
	background-color: white;
	}

#map{
	float: right;
	width: 80%;
	height: 750px;
	border: 2px dotted gray;
	margin-top: .25%;
	margin-right: 3.75%;
	}
.legend{
	float:left;
	border: 2px solid black;
	margin-top: .25%;
	height: 750px;
	width: 15%;
	background-color: #E6E6E6;
}
#ap  {
	margin-left: 30px;
	margin-top: 8px;
	margin-bottom: 8px;
}